<section id="filter">
    <form>
        <label><input type="checkbox" name="mine" id="mine"> Мои</label>
        <input type="text" name="authoe" id="author" placeholder="Автор"><br>
        <label>Сортировать по: <select name="filterBy" id="filterBy">
            <option value="date">дате</option>
            <option value="author">автору</option>
            <option value="popularity">популярности</option>
        </select></label><br>
        <label><input type="checkbox" name="participant" id="participant"> я участник</label>
        <label><input type="checkbox" name="heading" id="heading"> в заголовке</label>
        <label><input type="checkbox" name="strict" id="strict"> строгий поиск</label>

    </form>
</section>
